Add support to construct internal entity builders

Currently, `Entity::builder` will create an `Entity` with `Common::level0()`. This will fail Standard RDAP conformance validation (2024 profile) [RFC 9083 Section 4.1, RDAP Response Profile 2024] as the rdapConformance array will be present in multiple places.

I guess it makes sense to add two builders one for top-level responses and one for internal use. 

I have update the docs to show the use of extensions in the builder.
https://github.com/icann/icann-rdap/blob/andy_dev/icann-rdap-common/README.md

Does that work?

No. According to the spec, only the top-level object should have the `rdapConformance` array. The example you posted should not pass validation.
I already use the `.extension()` method in my current branch but I need to set `common.rdap_conformance = None` for all inner objects to make this pass. 

Gotcha! Excellent point. I think a builder for objects at the top_level and then one for objects that are subordinate (maybe `sub()` for the builder name).

Or maybe a `response()` builder for the top level and we get rid of the `ToResponse` stuff. Let me think about it.